/* custom css */

.d-flex {
  display: flex;
}
.s-title {
  flex: 1;
  font-weight: var(--font-wt-600);
}

.s-contain {
  margin-top: 2em;
  margin-bottom: 1.2em;
}

/* app-container */

.app-container {
  display: flex;
  width: 100%;
}

/* room section */

.room-section {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  height: 100vh;
  outline: 1px solid #e3e3e3;
  background-color: var(--clr-nav);
}

.room-section aside {
  padding: 0.4rem 0.8rem;
}

ul.rooms {
  min-height: 100vh;
}

ul.rooms li {
  margin: 0.8em 0;
}
ul.rooms li:first-child {
  margin: 0;
}

ul.rooms a {
  display: block;
  width: 100%;
  border: 1px solid;
  padding: 0.8rem 1.2rem;
  border: 1px solid;
  border-radius: 1.2rem;
  text-align: center;
}

button.btn-newroom {
  text-align: center;
  padding: 0.8rem 1.2rem;
  color: #f0f0f0;
  border-radius: 0.8rem;
}
button.btn-newroom:hover {
  outline: 0.4px solid #e3e3e3;
  background-color: rgba(255, 255, 255, 0.2);
}

button.btn-newroom svg {
  font-size: 2.2rem;
}

/* middle-container */

.middle-container {
  flex: 1;
  width: 100%;
  padding: 1.2rem 1.6rem;
}

.btn-add {
  padding: 0.4rem 0.8rem;
  border-radius: 0.4rem;
}

.btn-add:hover {
  outline: 1px solid #e3e3e3;
  background-color: rgba(255, 255, 255, 0.6);
}
.channel-header {
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 0.8em;
}

/* channel list  */
ul.channel-list-wrapper {
  width: 100%;
}

ul.channel-list-wrapper li:first-child {
  margin-top: 0;
}

ul.channel-list-wrapper li a {
  padding: 0.6em 0.8rem;
  display: block;
  width: 100%;
  padding-left: 1.8rem;
  text-transform: capitalize;
  color: var(--clr-text-dark);
  transition: background-color 0.24s ease-in;
}

ul.channel-list-wrapper li a.active-channel {
  background-color: #fff;
  border-left: 4px solid #db3e0f;
  box-shadow: 0 0 3px 0px rgba(0, 0, 0, 0.24);
  border-top-left-radius: 0.2rem;
  border-bottom-left-radius: 0.2rem;
  color: #db3e0f;
}

ul.channel-list-wrapper li a:hover {
  background-color: rgba(0, 0, 0, 0.12);
  border-radius: 0.2rem;
}

/* direct message */

ul.directmsg-wrapper {
  margin-top: 1.2em;
}

li.chat-msg {
  margin: 0.4em 0;
}

li.chat-msg a {
  display: block;
  width: 100%;
  padding: 0.4rem;
}

li.chat-msg a:hover {
  background-color: rgba(0, 0, 0, 0.12);
}
.user-icon {
  width: 4rem;
  height: 4rem;
  float: left;
  margin-right: 0.8em;
}

.user-icon img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

li.chat-msg a {
  clear: both;
}

li.chat-msg .user-name {
  line-height: 4rem;
  text-transform: capitalize;
  color: var(--clr-text-dark);
}

/* section component */
.section-long {
  display: none;
  background-color: #fff;
  border-top-left-radius: 0.8rem;
  border-top-right-radius: 0.8rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  height: 90vh;
}

.channel-header-top {
  padding: 1.6rem 1.2rem;
  border-bottom: 1px solid #e3e3e3;
}

.c-header-top {
  display: flex;
  align-items: center;
  width: 100%;
}

.channel-header-top .c-members {
  margin-left: auto;
}

.c-info-wrapper {
  display: flex;
  align-items: center;
  gap: 1.2em;
}

.c-logo {
  width: 4.2rem;
  height: 4.2rem;
  border-radius: 0.8rem;
  padding: 0.4rem;
  background-repeat: no-repeat;
  background-position: center center;
  object-fit: contain;
}

.c-info h4 {
  font-weight: var(--font-wt-600);
}
.c-info p {
  font-size: 1.2rem;
}

/* members */
.c-members {
  display: flex;
  align-items: center;
  position: relative;
  background-color: #fafafa;
  border-radius: 0.4rem;
}

.c-members .member-icon {
  width: 3.2rem;
  height: 3.2rem;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.c-member + .c-member {
  margin-left: -1.5em;
}

button.add-cmembers {
  padding: 0.6rem 1.6rem;
  border: 1px solid;
  margin-left: 3em;
  margin-right: 1.2em;
  border-radius: 0.8rem;
  text-transform: uppercase;
}
.c-totalmembers {
  padding: 0.4rem;
  color: #555;
}

button.c-more-info {
}
button.c-more-info svg {
  font-size: 2rem;
}

.message-container {
  overflow: hidden;
  height: 78vh;
  position: relative;
}
/* chats */
.chats-container {
  padding: 0 2%;
  overflow-y: auto;
  /* height: 85%; */
}

.chat {
  padding: 0.4rem;
  margin: 0.8em 0;
  display: flex;
}

.chat .chat-user-img {
  width: 3.8rem;
  height: 3.8rem;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-right: 0.8em;
  border-radius: 0.4rem;
}

.chat-details h4 {
  font-weight: var(--font-wt-600);
}
.chat-details h4 span {
  font-weight: var(--font-wt-400);
  font-size: 1.2rem;
  color: #555;
  margin-left: 0.4em;
}

.chat-details p {
  font-size: 1.2rem;
}

/* input form */

.input-wrapper {
  position: absolute;
  bottom: var(--pd-1-2);
  left: 0;
  right: 0;
}

form.text-form {
  display: flex;
  align-items: center;
  background-color: var(--clr-white);
  box-sizing: 0 0 5px 10px rgba(0, 0, 0 0.5);
}

form.text-form button.add-file {
  background-color: #db3e0f;
  color: #f0f0f0;
  padding: 0.6rem 1rem;
  border-radius: 0.4rem;
  font-size: 2rem;
}

.input-wrapper {
  width: 96%;
  margin: 0 2%;
  border-radius: 0.8rem;
}

.input-wrapper input {
  width: 100%;
  padding: 1.2rem 1.2rem;
  border-radius: 0.8rem;
  font-size: 1.4rem;
}

.input-wrapper input:focus {
  border: none;
  outline: none;
}

/* handle responsive */
.room-section {
  display: none;
}

@media only screen and (min-width: 576px) {
  .room-section {
    display: block !important;
  }
  .middle-container {
    margin-left: 7rem;
  }
}

@media only screen and (min-width: 768px) {
  .room-section {
    display: none !important;
  }
  .middle-container {
    flex: 0;
    min-width: 30rem;
    padding: 1.2rem 1.6rem;
    margin-left: 0rem;
  }

  .s-section {
    display: block !important;
    flex: 1;
  }
}

@media only screen and (min-width: 992px) {
  .room-section {
    display: block !important;
  }
  .middle-container {
    margin-left: 7rem;
  }
}

/* @media only screen and (min-width: 1080px) { */

/* } * */
