/* side nav */
aside nav.side-nav {
  background: var(--clr-nav);
  height: var(--min-height);
  display: block;
  width: 5.4rem;
}

aside nav.side-nav ul {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
aside nav.side-nav li {
  width: 100%;
}

aside nav.side-nav a {
  display: block !important;
  padding: var(--pd-1-2) var(--pd-08);
  text-align: center;

}
aside nav.side-nav svg {
  fill: var(--clr-light-white);
  fill: var(--clr-green);
}

/* Hover effect */
aside nav.side-nav a:hover {
  background-color: #484848;
  border-radius: var(--pd-1-2);
  transition: background-color 0.24s ease;
}
aside nav.side-nav a.active {
  border-radius: var(--pd-1-2);
  background-color: var(--clr-green);
}
aside nav.side-nav a.active > svg {
  fill: var(--clr-light-white);
}
.user-img {
  margin: 0 auto;
}

.user-img img {
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  margin-bottom: 20px;
}

aside nav.side-nav li:nth-child(4) {
  margin-top: auto;
}

/* app logo */

.app-logo {
  margin-top: var(--mg-08);
  width: 2.8rem;
  height: 2.8rem;
  position: relative;
}

.app-logo .circle {
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 50%;
  border: 3px solid red;
  position: absolute;
}
.app-logo .c-1 {
  /* right: -var(--pd-1-2); */
}
.app-logo .c-2 {
  left: var(--pd-1-6);
  /* border: 4px solid green; */
}

/* middle-section */

section#middle-section {
  background-color: var(--clr-bg);
  min-width: var(--min-width);
  padding: var(--pd-08) var(--pd-1-6);
}

section#middle-section h3 {
  margin: var(--mg-04) 0;
}

/* search */
div.search {
  margin-top: var(--mg-2);
}

div.search form {
  display: flex;
  align-items: center;
  border-radius: var(--pd-04);
  background-color: var(--clr-input-fill);
}

div.search input {
  width: 100%;
  flex: 1;
  padding: var(--pd-08);
  font-size: 1.4rem;
  text-indent: var(--pd-08);
}

form:focus-within {
  outline: 2px solid var(--clr-side-nav);
}

div.search input:focus {
  border: none;
  outline: none;
}
button.btn-search {
  padding: var(--pd-04) var(--pd-08);
}
button.btn-search .search-icon {
  width: 1.9rem;
  fill: var(--clr-search-fill);
}

/* message list */

div.message-list {
  margin-top: var(--mg-3);
}

div.message-list .message-element {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: var(--pd-1-2);
  /* padding: var(--pd-04) 0; */
}

.user-message-info {
  position: relative;
}
div.user-message-info .message {
  margin-top: 0.2rem;
}
.message-stats {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 999;
  background-color: var(--clr-bg);
  padding: 0 0.2rem;
}

.message-stats .message-count {
  margin-top: var(--pd-04);
  margin-left: var(--pd-08);
  background-color: var(--clr-green);
  color: var(--clr-bg);
  display: block;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  text-align: center;
}

/* last section */
section#message-container {
  flex: 1;
  width: 100%;
}
/* header section */
header {
  background-color: var(--clr-bg);
  padding: var(--pd-08) var(--pd-2);
}
header nav ul {
  display: flex;
  align-items: center;
}
header nav li:nth-child(2) {
  margin-left: auto;
}

/* Notification icon */
header .chat-notification {
  position: relative;
  margin-right: var(--mg-3);
  cursor: pointer;
}

/* Notification badge (dot) */
header .notification {
  position: absolute;
  top: -4px;
  right: -2px;
  background-color: var(--clr-red);
  border-radius: 50%;
  width: 1.2rem;
  height: 1.2rem;
  display: inline-block;
}
header .notification:hover {
  background-color: var(--clr-white);
}

header .logged-user-img img {
  width: 4.2rem;
  height: 4.2rem;
  border-radius: 50%;
  border: 2px solid #ddd;
  padding: var(--pd-04);
  object-fit: cover;
}

.user-status {
  color: var(--clr-green);
}

/* message box */

.message-box {
  min-height: 90vh;
  border-radius: var(--pd-2);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  margin: 0 var(--mg-2);
  padding: var(--pd-1-6);
  border-right: 1px solid #e3e3e3;
  background-color: var(--clr-white);
}
.message-wrapper {
}
