/* side nav */
aside nav.side-nav {
  background: var(--clr-side-nav);
  height: var(--min-height);
  display: block;
  width: 5.4rem;
}

aside nav.side-nav ul {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
aside nav.side-nav li {
  width: 100%;
}

aside nav.side-nav a {
  display: block !important;
  padding: var(--pd-08);
  text-align: center;
}
aside nav.side-nav svg {
  fill: var(--clr-white-2);
}

/* Hover effect */
aside nav.side-nav a:hover {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: var(--pd-08);
}
.user-img {
  margin: 0 auto;
}

.user-img img {
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  margin-bottom: 20px;
}

aside nav.side-nav li:nth-child(3) {
  margin-top: auto;
}

/* app logo */

.app-logo {
  margin-top: var(--mg-08);
  width: 2.8rem;
  height: 2.8rem;
  position: relative;
}

.app-logo .circle {
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 50%;
  border: 3px solid red;
  position: absolute;
}
.app-logo .c-1 {
  /* right: -var(--pd-1-2); */
}
.app-logo .c-2 {
  left: var(--pd-1-6);
  /* border: 4px solid green; */
}

/* middle-section */

section#middle-section {
  background-color: var(--clr-bg);
  min-width: var(--min-width);
  padding: var(--pd-08);
}

section#middle-section h3 {
  margin: var(--mg-04) 0;
}

/* search */
div.search {
  margin-top: var(--mg-1-2);
}

div.search form {
  display: flex;
  align-items: center;
  border-radius: var(--pd-04);
  background-color: var(--clr-input-fill);
}

div.search input {
  width: 100%;
  flex: 1;
  padding: var(--pd-08);
  font-size: 1.4rem;
  text-indent: var(--pd-08);
}

form:focus-within {
  outline: 2px solid var(--clr-side-nav);
}

div.search input:focus {
  border: none;
  outline: none;
}
button.btn-search {
  padding: var(--pd-08) var(--pd-08);
}
button.btn-search .search-icon {
  width: 1.9rem;
  fill: var(--clr-search-fill);
}

/* message list */

div.message-list {
  margin: var(--mg-1-6) 0;
}

div.message-list .message-element {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: var(--pd-1-2);
  /* padding: var(--pd-04) 0; */
}

.user-message-info {
  position: relative;
}
div.user-message-info .message {
  margin-top: 0.2rem;
}
.message-stats {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 999;
  background-color: var(--clr-bg);
  padding: 0 0.2rem;
}

.message-stats .message-count {
  margin-top: var(--pd-04);
  margin-left: var(--pd-08);
  background-color: var(--clr-side-nav);
  color: var(--clr-bg);
  display: block;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  text-align: center;
}
