/* side nav */
aside {
  display: none;
}
aside nav.side-nav {
  background: var(--clr-nav);
  height: var(--min-height);
  display: block;
  width: 5.4rem;
}

aside nav.side-nav ul {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
aside nav.side-nav li {
  width: 100%;
}

aside nav.side-nav a {
  display: block !important;
  padding: var(--pd-1-2) var(--pd-08);
  text-align: center;
}
aside nav.side-nav svg {
  fill: var(--clr-light-white);
  fill: var(--clr-green);
}

/* Hover effect */
aside nav.side-nav a:hover {
  background-color: #484848;
  border-radius: var(--pd-1-2);
  transition: background-color 0.24s ease;
}
aside nav.side-nav a.active {
  border-radius: var(--pd-1-2);
  background-color: var(--clr-green);
}
aside nav.side-nav a.active > svg {
  fill: var(--clr-light-white);
}
.user-img {
  margin: 0 auto;
}

.user-img img {
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  margin-bottom: 20px;
}

aside nav.side-nav li:nth-child(4) {
  margin-top: auto;
}

/* app logo */

.app-logo {
  margin: var(--mg-1-6) 0;
  width: 2rem;
  height: 2rem;
  position: relative;
}

.app-logo .circle {
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 50%;
  border: 2px solid var(--clr-green);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.app-logo .c-1 {
  right: -var(--pd-3);
  left: 2rem;
}
.app-logo .c-2 {
  left: var(--pd-3);
}

/* middle-section */

section#middle-section {
  background-color: var(--clr-bg);
  /* min-width: var(--min-width); */
  width: 100%;
}

section#middle-section h3 {
  padding: var(--pd-1-2) var(--pd-08);
}

/* search */
div.search {
  margin-top: var(--mg-1);
  padding-left: var(--pd-1-2);
}

div.search form {
  display: flex;
  align-items: center;
  border-radius: var(--pd-04);
  background-color: var(--clr-input-fill);
}

div.search input {
  width: 100%;
  flex: 1;
  padding: var(--pd-08);
  font-size: 1.4rem;
  text-indent: var(--pd-08);
}

form:focus-within {
  outline: 2px solid var(--clr-side-nav);
}

div.search input:focus {
  border: none;
  outline: none;
}
button.btn-search {
  padding: 0.6rem;
}
button.btn-search .search-icon {
  width: 2rem;
  fill: var(--clr-search-fill);
  margin-top: 0.4rem;
}

/* message list */

div.message-list {
  margin-top: var(--mg-3);
  padding-left: var(--pd-08);
}

div.message-list .message-element {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: var(--pd-1-2);
  margin-bottom: var(--mg-1-6);
  padding: var(--pd-04);
}

.message-element .user-img {
  width: 4rem;
  height: 4rem;
}
.message-element .user-img img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.user-message-info {
  position: relative;
}
div.user-message-info .message {
  margin-top: 0.2rem;
  color: var(--clr-gray);
}
.message-stats {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 999;
  background-color: var(--clr-bg);
  padding: 0 0.2rem;
}
.isTyping {
  margin-top: 0.2rem;
  color: var(--clr-green);
}

.message-stats .message-sent-time {
  color: var(--clr-gray);
}
.message-stats .message-count {
  margin-top: var(--pd-04);
  margin-left: var(--pd-08);
  background-color: var(--clr-green);
  color: var(--clr-bg);
  display: block;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  text-align: center;
}
.single-tick,
.double-tick {
  margin-top: var(--pd-04);
  margin-left: var(--pd-1-6);
}
/* last section */
section#message-container {
  flex: 1;
  width: 100%;
}
/* header section */
header {
  background-color: var(--clr-bg);
  padding: var(--pd-08) var(--pd-2);
}
header nav ul {
  display: flex;
  align-items: center;
}
header nav li:nth-child(2) {
  margin-left: auto;
}

/* Notification icon */
header .chat-notification {
  position: relative;
  margin-right: var(--mg-3);
  cursor: pointer;
}

/* Notification badge (dot) */
header .notification {
  position: absolute;
  top: -4px;
  right: -2px;
  background-color: var(--clr-red);
  border-radius: 50%;
  width: 1.2rem;
  height: 1.2rem;
  display: inline-block;
}
header .notification:hover {
  background-color: var(--clr-white);
}

header .logged-user-img img {
  width: 4.2rem;
  height: 4.2rem;
  border-radius: 50%;
  border: 2px solid #ddd;
  padding: var(--pd-04);
  object-fit: cover;
}

.user-status {
  color: var(--clr-green);
}

/* message box */

.message-box {
  height: 90vh;
  border-radius: var(--pd-2);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  margin: 0 var(--mg-2);
  padding: var(--pd-1-6);
  border-right: 1px solid #e3e3e3;
  background-color: var(--clr-white);
  overflow: hidden;
  position: relative;
}

.chats-container {
  overflow-y: auto;
  height: 92%;
  max-width: 64vw;
  margin: 0 auto;
}

.chats-container::-webkit-scrollbar {
  display: none;
}

div.chat {
  display: flex;
  gap: var(--mg-08);
  clear: both;
  padding: var(--pd-04);
  border-radius: var(--pd-04);
}
.sender-chat {
  float: right;
}
.receiver-chat {
  float: left;
}
.chat .image-container {
  width: 4.2rem;
  height: 4.2rem;
  text-align: center;
  padding: 0.2rem;
}
.chat .image-container img {
  border-radius: 0.4rem;
  object-fit: cover;
  margin-bottom: var(--mg-04);
  width: 100%;
  height: 100%;
}
.chat .image-container span.text-time {
  color: var(--clr-gray);
  font-size: 1rem;
}

/* chat details */
.chat .chat-details {
  padding: var(--pd-04);
}

.chat .chat-details p {
  font-size: 1.2rem;
  margin-top: 0.4rem;
}
.chat .chat-details span {
  color: var(--clr-gray);
}

.message-box .input-wrapper {
  clear: both;
  position: absolute;
  bottom: var(--pd-1-2);
  left: var(--mg-2);
  right: var(--mg-2);
  background-color: var(--clr-white);
}

.input-wrapper form {
  position: relative;
}

.input-wrapper input {
  width: 100%;
  font-size: 1.4rem;
  padding: var(--pd-1-2) var(--pd-08);
  outline: 1px solid var(--clr-gray);
  border-radius: var(--pd-04);
  text-indent: var(--pd-3);
}
.input-wrapper button {
  position: absolute;
  padding: var(--pd-04) var(--pd-1-2);
  background-color: var(--clr-bg);
  color: var(--clr-bg);
  border-radius: 0.4rem;
  font-size: 1.5rem;
  pointer-events: none;
  opacity: 0.8;
  color: var(--clr-side-nav);
  top: 50%;
  transform: translateY(-50%);
}

.input-wrapper button.btn-submit {
  right: 1rem;
}

.input-wrapper button:hover {
  outline: 1px solid var(--clr-gray);
}

.input-wrapper input:focus {
  outline: 2px solid var(--clr-side-nav);
}

.input-wrapper button.active {
  cursor: pointer;
  opacity: 1;
}

.input-wrapper button.btn-file-input {
  padding: var(--pd-08) var(--pd-1-2);
  background-color: #e3e3e3;
  left: 0;
}

/* handle responsive */

section#message-container {
  display: none;
}

@media only screen and (min-width: 480px) {
  aside {
    display: block !important;
  }
}

@media only screen and (min-width: 768px) {
  aside {
    display: none !important;
  }
  section#middle-section {
    width: 24rem;
  }
  section#message-container {
    display: block !important;
  }
}

@media only screen and (min-width: 968px) {
  aside {
    display: block !important;
  }
}

@media only screen and (min-width: 1080px) {
  section#middle-section {
    min-width: var(--min-width);
  }
}
